<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Configure Farmbot's Network </title>
    <link rel="stylesheet" href="/styles.css">
    <script>
      function showPassword() {
          var x = document.getElementById("psk");
          x.type = (x.type === "password") ? "text" : "password";
      }
    </script>
  </head>

  <body>
    <h1>Configure FarmBot</h1>
    <h2><%= subtitle %></h2>

    <div class="widget">
      <div class="widget-header"> <h5>Configure Wireless</h5> </div>
      <div class="widget-content">
        <form action=<%= post_action %> method="post" id="ssid_select_form">
          <fieldset>
            <label>Network Name</label>
            <input name="ssid_fake" type="text" value="<%= ssid %>" disabled>
            <input name="ssid" type="text" value="<%= ssid %>" hidden>
            <input name="security" hidden=true value="<%= security %>">
            <input name="ifname",  hidden=true value="<%= ifname %>">

            <label for="psk"> PSK </label>
            <div class="psk-input-group">
              <input type="text" name="psk" id="psk">
              <img class="eye-icon" src="icon_eye.svg"
                onclick="showPassword()" title="Show password">
            </div>
          </fieldset>

          <%= advanced_network %>

          <div class="button"> <input type=submit value="next"> </div>
        </form>
      </div>
    </div>

    <div class="warning">
      <div class="warning-header">
        <img src="icon_warning.svg" />
        <h5>Double check your email and password</h5>
      </div>
      <div id="warning-content">
        Entering an incorrect password at this step will result in a
        CODE 24 error, the FarmBot will not come online, and
        you will need to redo configuration.
      </div>
    </div>
  </body>
</html>
