<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Configure Farmbot's Network </title>
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>
    <h1>Configure FarmBot</h1>
    <h2><%= subtitle %></h2>

    <div class="widget">
      <div class="widget-header"> <h5>Configure Wired</h5> </div>
      <div class="widget-content">
        <form action="config_network" method="post">
          <fieldset>
            <input name="ifname",  hidden=true value="<%= ifname   %>" />

            <%= advanced_network %>

          </fieldset>

          <div class="button"> <input type="submit" value="next"> </div>
        </form>
      </div>
    </div>
  </body>
</html>
