<html>
  <head>
    <title> Configure your Farmbot account </title>
    <link rel="styles.css">
  </head>
  <body>
    <form method=post action=configure_credentials>
      <fieldset>
        <legend> Farmbot Account settings </legend>
        Email: <input type=email name=email>
        Password: <input type=password name=password>
        <input type=submit>
      </fieldset>
    </form>
  </body>
</html>
