<html>

<head>
  <title> Configure your Farmbot account </title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <h1>Configure your FarmBot</h1>
  <div class="widget">
    <div class="widget-header">
      <h5>FarmBot Web App Account</h5>
    </div>
    <div class="widget-content">
      <form method=post action=configure_credentials>
        <fieldset>
          <label>Email</label>
          <p><input type=email name=email></p>
          <label>Password</label>
          <p><input type=password name=password></p>
        </fieldset>
    </div>
  </div>
  <div class="button">
    <input type=submit value="Finish">
  </div>
  </form>

</body>

</html>
