<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Configure your Farmbot Version <%= version %> </title>
    <link rel="stylesheet" href="/styles.css">

    <script>
    let count = 0;
    function secret(event) {
      count++;
      if(count >= 10) {
        document.getElementById("hidden-logs").hidden = false;
      }
    }
    </script>
  </head>

  <body>
    <h1 onclick="secret()"> Configure your FarmBot Version <%= version %></h1>

    <div class="widget">
      <div class="widget-header">
        <h5>Start</h5>
      </div>

      <div class="widget-content">

        <p> <a hidden=true id='hidden-logs' href="/view_logs">Download all logs</a> </p>

        <%= if last_reset_reason do %>
          <div class="last-shutdown-reason">
            <div class="last-shutdown-reason-header">
              <h5> Farmbot unexpectedly shut down </h5> <p></p>
            </div>
            <i> Last shutdown reason: </i> <%= last_reset_reason %>
          </div>
        <% end %>

        <p>Get ready to configure your FarmBot!</p>
        <ul>
          <li>Network</li>
          <li>Firmware</li>
          <li>Web App Credentials</li>
        </ul>
      </div>
    </div>
    <div class="button">
      <a href="/network">Begin setup</a>
    </div>
  </body>
</html>
