<html>

<head>
  <title> Configure your Farmbot Version <%= version %> </title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <h1>Configure your FarmBot Version <%= version %></h1>

  <div class="widget">
    <div class="widget-header">
      <h5>Start</h5>
    </div>
    <div class="widget-content">
      <%= if last_reset_reason do %>
        <h5> Farmbot unexpectedly shut down </h5> <p>
        Last shutdown reason: <%= last_reset_reason %>
      <% end %>

      <p>Get ready to configure your FarmBot!</p>
      <ui>
        <li>Network</li>
        <li>Firmware</li>
        <li>Web App Credentials</li>
      </ui>
    </div>
  </div>
  <div class="button">
    <a href="/network">Begin setup</a>
  </div>
</body>

</html>
