<html>

<head>
  <title> Configure Farmbot's Network </title>
  <link rel="stylesheet" href="/styles.css">
  <script type="text/javascript">
    function ssidSelectOnChange(iface) {
      var elem = document.getElementById(iface + "_ssid_select");
      var selected = elem.options[elem.selectedIndex];
      expected_id = iface + "_ssid_manual_input";
      if(selected.id == expected_id) {
        replaceSelect(iface);
      }
    }
    function replaceSelect(iface) {
      console.log("Replaceing select element with input element")
      var elem = document.getElementById(iface + "_ssid_select");
      var inputNode = document.createElement("input");
      inputNode.setAttribute("name", iface + "_ssid");
      inputNode.setAttribute("type", "text");
      elem.parentNode.insertBefore(inputNode, elem.nextSibling);
      elem.outerHTML = "";
      delete elem;
    }
  </script>
</head>


<body>
  <h1>Configure your FarmBot</h1>
  <div class="widget">
    <div class="widget-header">
      <h5>Network</h5>
    </div>
    <div class="widget-content">
      <form action="configure_network" method="post">
        <%= for {interface, settings} <- interfaces do %>
          <%= case settings do %>
            <% %{type: :wired} -> %>
              <fieldset>
                <label>Enable Ethernet (<%= interface %>)</label>
                <input type=checkbox name="<%= interface %>_enable">
                <input hidden=true name="<%= interface %>_type" value=wired>
              </fieldset>

            <% %{type: :wireless, ssids: ssids} -> %>
              <fieldset>
                <label>Enable Wireless (<%= interface %>) </label>
                <input type=checkbox name="<%= interface %>_enable">
                <label>Network Name/SSID</label>
                <select name="<%= interface %>_ssid" id="<%= interface %>_ssid_select" onchange="ssidSelectOnChange('<%= interface %>');">
                  <%= Enum.reduce(ssids, "", fn(ssid, acc) ->
                    acc <> "<option value=#{ssid}> #{ssid} </option>"
                  end) %>
                  <option id="<%= interface %>_ssid_manual_input"> <bold> Manual Input </bold> </option>
                </select>
                <label>Password</label>
                <input type=password name="<%= interface %>_psk">
                <input hidden=true name="<%= interface %>_type" value=wireless>
              </fieldset>
          <% end %>
      <% end %>
    </div>
  </div>
  <div class="button">
    <input type=submit value="next">
  </div>
  </form>

</body>

</html>
