secrets.txt
*.pstore
*.gem
*.rbc
*.swp
.bundle/*
.DS_Store
.idea/*
.loadpath
.project
.ruby-gemset
.ruby-version
/.bundle
/.bundle/
/.yardoc/
/_yardoc/
/coverage/
/coverage/
*.sqlite3
*.sqlite3-journal
/doc/
/InstalledFiles
/lib/.build
/lib/bundler/man/
/log/*.log
*.log
/pkg/
/rdoc/
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp
/tmp/
config.yml
coverage/**
credentials.yml
db/settings.yml
doc/*
doc/**/*
log/*
notes.rb
/lib/.build
write_db_settings.rb
snippet.coffee
snippets.rb
tmp/**/*
*.rb~
serial_port.txt
*credentials*
