*.gem
*.rbc
*.swp
.bundle/*
.DS_Store
.idea/*
.loadpath
.project
.ruby-gemset
.ruby-version
/.bundle
/.bundle/
/.yardoc/
/_yardoc/
/coverage/
/coverage/
/db/*.sqlite3
/db/*.sqlite3-journal
/doc/
/InstalledFiles
/lib/.build
/lib/bundler/man/
/log/*.log
/pkg/
/rdoc/
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp
/tmp/
config.yml
coverage/**
credentials.yml
doc/*
doc/**/*
Gemfile.lock
log/*
notes.rb
settings.rb
snippet.coffee
snippets.rb
tmp/**/*
write_db_settings.rb
*.rb~

