*.dot
*.out
*.ez
/0_lua_stuff/_build/
/0_lua_stuff/.fetch
/0_lua_stuff/cover/
/0_lua_stuff/deps/
/0_lua_stuff/doc/
erl_crash.dump
output.rb
*.ez
/_build/
/.fetch
/cover/
/deps/
/doc/
erl_crash.dump
whatever-*.tar
