<!DOCTYPE html>
<html lang="en" ng-app="phonecatApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="configurator-styles.css">
    <title>Welcome to Configurator</title>
  </head>

  <body ng-controller="PhoneListController">
    <div class="container">
      <h1>Configure Your Farmbot</h1>
      <h2>Enter your Wi-Fi and FarmBot Web App credentials</h2>
      <div class="jumbotron">

          <!-- wifi -->
          <div class="configuration-group">
              <h3 class="input-group-addon" id="sizing-addon1">Wi-Fi</h3>
              <div class="input-group input-group-lg">

                <!-- /btn-group -->
                <input id="wifissid" type="text" class="form-control" placeholder="Wireless SSID" aria-describedby="sizing-addon1" required="required">
                <div class="input-group-btn input-group-btn-lg">
                  <!-- Scan button  -->
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Scan for Networks
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li ng-repeat=" ssid in ssids track by $index"><a href="#" ng-click="select_ssid(ssid)"> {{ssid}} </a></li>
                  </ul>
                  <!-- Scan button  -->
                </div>
              </div>
              <!-- /input-group -->

            <input id="wifipsk" type="password" class="form-control" placeholder="Wireless PSK" aria-describedby="sizing-addon1" required="required">
          </div>
          <!-- /wifi -->

          <!-- farmbot  config-->
          <div class="configuration-group">
            <h3 class="input-group-addon" id="sizing-addon1">Web App</h3>
            <input id="fbemail" type="email" class="form-control" placeholder="Username" aria-describedby="sizing-addon1" required="required">
            <input id="fbpwd" type="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon1" required="required">
            <input id="fbserver" type="url" value="my.farmbot.io" placeholder="my.farmbot.io" class="form-control" aria-describedby="sizing-addon1" required="required">
            <input id="fbport" type="integer" value="80" placeholder="80" class="form-control" aria-describedby="sizing-addon1" required="required">
          </div>
          <!-- /farmbot  config-->

          <a href="#" ng-click="submit()" class="btn btn-lg form-control save-button"> <strong>Save Configuration</strong> </a>
      </div>

    </div> <!-- /container -->
    <script src="jquery-3.1.0.min.js"></script>
    <script src="angular.min.js"></script>
    <script src="app/app.js"></script>

  </body>
</html>
