<html>
  <head>
    <title>
      Configure your Farmbot! - <%= page %>
    </title>
  </head>

  <body>
    <div id="content">
      <div id=<%= page %>>
        <%= render.() %>
      </div>
    </div>
  </body>

</html>
