<html>
  <head>
    <title>
      Configure your Farmbot! - <%= page %>
    </title>
  </head>

  <body>
    <%= inspect(conn |> Map.from_struct |> Map.get(:private, %{}) |> Map.get(:plug_session)) %>
    <div id="content">
      <div id=<%= page %> >
        <%= render.() %>
      </div>
    </div>
  </body>

</html>
