$translucent: rgba(0, 0, 0, 0.2);
$translucent2: rgba(0, 0, 0, 0.6);
$white: #fff;
$off_white: #f4f4f4;
$light_gray: #ddd;
$gray: #cccccc;
$medium_gray: #666666;
$dark_gray: #434343;
$black: #000;
$light_blue: #cdf;
$blue: #a4c2f4;
$dark_blue: #37d;
$light_cyan: #d0e0e3;
$cyan: #45818e;
$light_green: #d9ead3;
$green: #6a4;
$dark_green: #371;
$light_yellow: #ffc;
$yellow: #fd6;
$gold: #b90;
$beige: #fec;
$light_brown: #e9d5c3;
$brown: #CA8;
$dark_brown: #783f04;
$light_orange: #fc9;
$orange: #fa0;
$dark_orange: #e93;
$light_purple: #bad;
$purple: #C68ED2;
$light_magenta: #ead1dc;
$magenta: #a64d79;
$pink: #ebb;
$light_red: #e99;
$red: #e66;
$dark_red: #f00;
$darkest_red: #900;
$primary_font: "Roboto";