# Additional configuration for erlinit

# Turn on the debug prints
#-v

# Specify the UART port that the shell should use.

# GPIO UART PORT
# -c ttyS0
# HDMI
 -c tty1

# If more than one tty are available, always warn if the user is looking at
# the wrong one.
--warn-unused-tty

# Use dtach to capture the iex session so that it can be redirected
# to the app's GUI
#-s "/usr/bin/dtach -N /tmp/iex_prompt"

# Specify the user and group IDs for the Erlang VM
#--uid 100
#--gid 200

# Uncomment to hang the board rather than rebooting when Erlang exits
# --hang-on-exit

# Run a program if the Erlang VM exits
--run-on-exit "/bin/sh"
# Run a program before the Erlang VM starts
# --pre-run-exec "/bin/sh -e /usr/bin/pre_erl.sh"

-m /dev/mmcblk0p3:/state:ext4::

# Enable UTF-8 filename handling in Erlang and custom inet configuration
-e LANG=en_US.UTF-8;LANGUAGE=en;ERL_INETRC=/etc/erl_inetrc

# Erlang release search path
-r /srv/erlang

# Assign a unique hostname based on the board id
-d "/usr/bin/boardid -b rpi -n 4"
-n nerves-%.4s
