{
   "url":"<%= url %>",
   "assets_url":"<%= url %>/assets",
   "upload_url":"https://uploads.github.com/repos/FarmBot/farmbot_os/releases/9155240/assets{?name,label}",
   "html_url":"https://github.com/FarmBot/farmbot_os/releases/tag/<%= tag_name %>",
   "id":9155240,
   "tag_name":"<%= tag_name %>",
   "target_commitish":"<%= target_commitish %>",
   "name":null,
   "draft":false,
   "author":{
      "login":"ConnorRigby",
      "id":21150830,
      "avatar_url":"https://avatars3.githubusercontent.com/u/21150830?v=4",
      "gravatar_id":"",
      "url":"https://api.github.com/users/ConnorRigby",
      "html_url":"https://github.com/ConnorRigby",
      "followers_url":"https://api.github.com/users/ConnorRigby/followers",
      "following_url":"https://api.github.com/users/ConnorRigby/following{/other_user}",
      "gists_url":"https://api.github.com/users/ConnorRigby/gists{/gist_id}",
      "starred_url":"https://api.github.com/users/ConnorRigby/starred{/owner}{/repo}",
      "subscriptions_url":"https://api.github.com/users/ConnorRigby/subscriptions",
      "organizations_url":"https://api.github.com/users/ConnorRigby/orgs",
      "repos_url":"https://api.github.com/users/ConnorRigby/repos",
      "events_url":"https://api.github.com/users/ConnorRigby/events{/privacy}",
      "received_events_url":"https://api.github.com/users/ConnorRigby/received_events",
      "type":"User",
      "site_admin":false
   },
   "prerelease":true,
   "created_at":"2018-01-09T02:04:01Z",
   "published_at":"2018-01-09T02:10:23Z",
   "assets":[
      {
         "url":"<%= fw_asset_url %>",
         "id":5815530,
         "name":"farmbot-rpi3-<%= String.trim_leading(tag_name, "v") %>.fw",
         "label":"",
         "uploader":{
            "login":"ConnorRigby",
            "id":21150830,
            "avatar_url":"https://avatars3.githubusercontent.com/u/21150830?v=4",
            "gravatar_id":"",
            "url":"https://api.github.com/users/ConnorRigby",
            "html_url":"https://github.com/ConnorRigby",
            "followers_url":"https://api.github.com/users/ConnorRigby/followers",
            "following_url":"https://api.github.com/users/ConnorRigby/following{/other_user}",
            "gists_url":"https://api.github.com/users/ConnorRigby/gists{/gist_id}",
            "starred_url":"https://api.github.com/users/ConnorRigby/starred{/owner}{/repo}",
            "subscriptions_url":"https://api.github.com/users/ConnorRigby/subscriptions",
            "organizations_url":"https://api.github.com/users/ConnorRigby/orgs",
            "repos_url":"https://api.github.com/users/ConnorRigby/repos",
            "events_url":"https://api.github.com/users/ConnorRigby/events{/privacy}",
            "received_events_url":"https://api.github.com/users/ConnorRigby/received_events",
            "type":"User",
            "site_admin":false
         },
         "content_type":"application/octet-stream",
         "state":"uploaded",
         "size":57024016,
         "download_count":0,
         "created_at":"2018-01-09T02:10:23Z",
         "updated_at":"2018-01-09T02:10:25Z",
         "browser_download_url":"<%= fw_asset_url %>"
      }
   ],
   "tarball_url":"https://api.github.com/repos/FarmBot/farmbot_os/tarball/<%= tag_name %>",
   "zipball_url":"https://api.github.com/repos/FarmBot/farmbot_os/zipball/<%= tag_name %>",
   "body": "<%= body %>"
}
