.widget {
    margin-bottom: 3rem;
    position: relative;
}

.widget-header {
    background: $dark_gray;
    letter-spacing: .05rem;
    padding: .75rem 1rem;
    h5 {
        color: $gray;
        font-size: 1.2rem;
        margin: .25rem;
        text-transform: uppercase;
        display: inline;
        margin-right: 1rem;
    }
    p {
        font-size: 1rem;
        font-style: italic;
    }
    .fa-minus,
    .fa-plus {
        position: absolute;
        top: 0.6rem;
        right: 0.8rem;
        font-size: 1.8rem;
        cursor: pointer;
    }
}

.widget-control {
    margin-top: 0.7rem;
    margin-right: 1.5rem;
}

i.widget-help-icon {
    display: inline;
    padding: 1rem 0;
    color: $medium_gray;
    cursor: pointer;
    &:hover {
        color: $gray;
        transition-delay: 0.1s;
    }
}

.widget-help-text {
    font-style: italic;
    color: $off_white;
    line-height: 2rem;
    font-family: sans-serif;
    padding: 0 0.3rem;
    opacity: 0;
    max-height: 0px;
    overflow: hidden;
    transition: 0.5s;
    transition-delay: 0.1s;
}

.widget-help-icon:hover .widget-help-text,
.widget-help-icon:active .widget-help-text {
    opacity: 100;
    padding: 0.5rem 0.3rem;
    max-height: 200px;
    transition: 0.5s;
    transition-delay: 0.1s;
}

.widget-content {
    background: $off_white;
    border-color: $light_gray;
    color: $dark_gray;
    padding: 1.25rem;
    label {
        font-size: 1.3rem;
    }
}