* {
    font-family: $primary_font;
    color: $white;
}

::-webkit-input-placeholder {
    color: $black;
}

::-moz-placeholder {
    color: $black;
}

:-ms-input-placeholder {
    color: $black;
}

:-moz-placeholder {
    color: $black;
    opacity: 1;
}

input:not([type="checkbox"]) {
    font-size: 1.2rem;
    color: $dark_gray;
    height: auto;
    width: 100%;
    border: 0;
    padding: 6px 8px;
    box-shadow: 0px 0px 10px $light_gray;
    outline: none;
    &:focus {
        background-color: $white;
        box-shadow: 0px 0px 10px $translucent;
    }
}

input[type="checkbox"] {
    border-radius: 0;
    -webkit-appearance: none;
    border: 1px solid black;
    padding: 1rem 1rem;
    background: white;
    outline: none !important;
    position: relative;
    cursor: pointer;
    &:checked {
        &:after {
            content: '';
            position: absolute;
            width: 0.8rem;
            height: 1.8rem;
            border: solid #000;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
            top: 0;
            left: 0.6rem;
        }
    }
}

body {
    background: linear-gradient(-135deg, #089460, #159acc);
    background-size: 400% 400%;
}

label {
    cursor: pointer;
    color: $dark_gray;
    display: block;
    text-transform: uppercase;
}

button {
    margin-top: 1.5rem;
    padding: .5rem 1.6rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700!important;
    border-radius: 3px;
    border-bottom-width: 2px!important;
    border: none;
    margin-bottom: 0;
    margin-right: 1rem;
    background-color: #6a4;
    color: #f4f4f4;
    outline: none;
    border-bottom: solid #371;
    &:active {
        border-bottom-width: 1px!important;
        border-top: 1px solid transparent!important;
        transform: translateY(1px);
    }
}

fieldset {
    &:not(:first-of-type) {
        margin-top: 1rem;
    }
    button {
        margin-top: 0;
    }
}

.Select-control {
    border-radius: 0 !important;
    font-size: 1.2rem !important;
    color: $dark_gray !important;
    height: 30px !important;
    width: 100% !important;
    border: 0 !important;
    box-shadow: 0px 0px 10px $light_gray !important;
}

.Select-option {
    padding: 0.4rem 1rem !important;
}

.Select-menu {
    padding: 0.8rem 0;
}

.password-group {
    position: relative;
    .fa {
        color: $dark_gray;
        cursor: pointer;
        position: absolute;
        top: 0.2rem;
        right: 1rem;
        font-size: 1.6rem;
    }
}