# Additional configuration for erlinit

# Turn on the debug prints
#-v

# Specify where erlinit should send the IEx prompt. Only one may be enabled at
# a time.
-c ttyS0     # UART pins on the GPIO connector
# -c tty1      # HDMI output

# If more than one tty are available, always warn if the user is looking at the
# wrong one.
--warn-unused-tty

# Use dtach to capture the iex session so that it can be redirected to the
# app's GUI
#-s "/usr/bin/dtach -N /tmp/iex_prompt"

# Specify the user and group IDs for the Erlang VM
#--uid 100
#--gid 200

# Uncomment to hang the board rather than rebooting when Erlang exits
# NOTE: Do not enable on production boards
# --hang-on-exit

# Change the graceful shutdown time. If 10 seconds isn't long enough between
# calling "poweroff", "reboot", or "halt" and :init.stop/0 stopping all OTP
# applications, enable this option with a new timeout in milliseconds.
#--graceful-shutdown-timeout 15000

# Optionally run a program if the Erlang VM exits
#--run-on-exit /bin/sh

# Enable UTF-8 filename handling in Erlang and custom inet configuration
-e LANG=en_US.UTF-8;LANGUAGE=en;ERL_INETRC=/etc/erl_inetrc;ERL_CRASH_DUMP=/root/crash.dump

# Mount the application partition
# NOTE: This must match the location in the fwup.conf. If it doesn't the system
#       will probably still work fine, but you won't get shell history since
#       bootloader/nerves_runtime can't mount the application filesystem before
#       the history is loaded. If this mount fails due to corruption, etc.,
#       nerves_runtime will auto-format it. Your applications will need to handle
#       initializing any expected files and folders.
-m /dev/mmcblk0p3:/state:ext4::

# Erlang release search path
-r /srv/erlang

# Assign a unique hostname based on the board id
-d "/usr/bin/boardid -b rpi -n 4"
-n farmbot-%.4s

# If using bootloader (https://github.com/nerves-project/bootloader), start the
# bootloader OTP release up first. If bootloader isn't around, erlinit fails back
# to the main OTP release.
--boot bootloader
